<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--商品信息表-->
<mapper namespace="com.ssm.mapper.ProductMapper">
    <select id="getProductAll" resultType="com.ssm.pojo.Product">
        SELECT * FROM product
        WHERE productIsEnabled=2 LIMIT 6
    </select>
    <select id="getSearchAll" resultType="com.ssm.pojo.Product">
        SELECT * FROM product
        <where>
            <if test="productName!=null and productName!=''">
                and productName LIKE  concat('%',#{productName},'%')
            </if>
            <if test="productCategoryId!=null and productCategoryId!='' ">
                and productCategoryId=#{productCategoryId}
            </if>
            AND productIsEnabled IN(0,2)
        </where>

        LIMIT 0,20
    </select>
    <select id="prodyctsClothing" resultType="com.ssm.pojo.Product">
        SELECT * FROM product WHERE productCategoryId=#{productCategoryId} AND productIsEnabled IN(0,2)
        ORDER BY productId DESC LIMIT 8
    </select>
    <select id="getProductList" resultType="com.ssm.pojo.Product">
         SELECT * FROM product
         WHERE productCategoryId=#{productCategoryId} AND productIsEnabled IN(0,2) ORDER BY productId
    </select>
    <select id="getProductDetails" resultType="com.ssm.pojo.Product">
        select * from product where productId=#{productId}
    </select>
</mapper>