<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--评论表接口-->
<mapper namespace="com.ssm.mapper.ReviewMapper">
    <select id="getReviewCount" resultType="int">
         SELECT COUNT(reviewId) FROM review WHERE reviewProductId=#{productId}
    </select>
    <select id="getReviewAll" resultType="com.ssm.pojo.Review">
         SELECT * FROM review WHERE reviewProductId=#{reviewProductId}
    </select>
</mapper>