<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--用户表接口-->
<mapper namespace="com.ssm.mapper.UserMapper">
    <select id="getLogin" resultType="com.ssm.pojo.User">
    select * from user where userName=#{userName} and userPassword=#{userPassword}
    </select>

    <insert id="addUser" parameterType="com.ssm.pojo.User">
        INSERT INTO `user`(userName,userPassword,userNickName,userBirthday,userGender,userAddress,userHomePlace)
        VALUES(#{userName},#{userPassword},#{userNickName},#{userBirthday},#{userGender},#{userAddress},#{userAddress})
    </insert>
    <select id="getInformation" resultType="com.ssm.pojo.User">
        SELECT  * FROM `user` WHERE userId=#{userId}
    </select>
    <select id="getUser" resultType="com.ssm.pojo.User">
        SELECT * FROM `user` WHERE userId=#{userId}
    </select>
</mapper>